<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userBean" class="com.maple.entity.User"/>
    
    <bean id="user" class="com.maple.entity.User">
        <!-- 写property其实是set注入-->
        <property name="student" ref="userBean"/>
    </bean>

    <bean class="com.maple.entity.Person" id="person">
        <constructor-arg name="user" ref="user"/>
        <constructor-arg index="0" value="哈哈"/>
    </bean>

</beans>