<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--下划线转驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.maple.mybatis.entity"/>
        <package name="com.maple.mybatis.mvc.entity"/>
    </typeAliases>

    <!--pageHelper分页拦截器-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
        <plugin interceptor="com.maple.mybatis.table.mapping.interceptor.MyInterceptor"/>
    </plugins>

    <environments default="dev_env">
        <environment id="dev_env">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="jdbc:mysql://localhost:3306/base_info?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--编译之后在classes文件下；也就是写的时候在resource下-->
        <mapper resource="StudentMapper.xml"/>
        <mapper resource="StudentMapperMap.xml"/>
        <mapper resource="StudentMapperMap1.xml"/>
        <mapper resource="StudentMapperObject.xml"/>
        <mapper resource="accountMapper.xml"/>
        <mapper resource="accountParamMapper.xml"/>
        <mapper resource="PersonMapper.xml"/>

        <!--mapper和xml同一目录-->
        <package name="com.maple.mybatis.annotation"/>
    </mappers>


</configuration>